In [53]:
import pandas as pd

In [54]:
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  01-01-23           32          6   Rain
1  02-01-23           35          7  Sunny
2  03-01-23           28          2   Snow
3  04-01-23           24          7   Snow
4  05-01-23           32          4   Rain
5  06-01-23           32          2  Sunny

In [55]:
weather_data = {
    'day' : ['01/01/2023', '02/01/2023', '03/01/2023', '04/01/2023', '05/01/2023', '06/01/2023'],
    'temperature' : [32, 35, 28, 24, 32, 32],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event' : ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

          day  temperature  windspeed  event
0  01/01/2023           32          6   Rain
1  02/01/2023           35          7  Sunny
2  03/01/2023           28          2   Snow
3  04/01/2023           24          7   Snow
4  05/01/2023           32          4   Rain
5  06/01/2023           32          2  Sunny

In [56]:
df.shape

(6, 4)

In [57]:
# Since shape returns a Tuple, we can store these returning values to a variable like so.
rows, columns = df.shape
print('# of Rows : ', rows)
print('# of Columns : ', columns)

# of Rows :  6
# of Columns :  4

In [58]:
df.head()

          day  temperature  windspeed  event
0  01/01/2023           32          6   Rain
1  02/01/2023           35          7  Sunny
2  03/01/2023           28          2   Snow
3  04/01/2023           24          7   Snow
4  05/01/2023           32          4   Rain

In [59]:
df.head(2)

          day  temperature  windspeed  event
0  01/01/2023           32          6   Rain
1  02/01/2023           35          7  Sunny

In [60]:
df.tail()

          day  temperature  windspeed  event
1  02/01/2023           35          7  Sunny
2  03/01/2023           28          2   Snow
3  04/01/2023           24          7   Snow
4  05/01/2023           32          4   Rain
5  06/01/2023           32          2  Sunny

In [61]:
df.tail(2)

          day  temperature  windspeed  event
4  05/01/2023           32          4   Rain
5  06/01/2023           32          2  Sunny

In [62]:
# To print row number 2 to 4.
df[2:5]

          day  temperature  windspeed event
2  03/01/2023           28          2  Snow
3  04/01/2023           24          7  Snow
4  05/01/2023           32          4  Rain

In [63]:
df[:]

          day  temperature  windspeed  event
0  01/01/2023           32          6   Rain
1  02/01/2023           35          7  Sunny
2  03/01/2023           28          2   Snow
3  04/01/2023           24          7   Snow
4  05/01/2023           32          4   Rain
5  06/01/2023           32          2  Sunny

In [64]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [65]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    32
Name: temperature, dtype: int64

In [66]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    32
Name: temperature, dtype: int64

In [67]:
df[['event', 'day']]

   event         day
0   Rain  01/01/2023
1  Sunny  02/01/2023
2   Snow  03/01/2023
3   Snow  04/01/2023
4   Rain  05/01/2023
5  Sunny  06/01/2023

In [68]:
df[['temperature', 'windspeed', 'day']]

   temperature  windspeed         day
0           32          6  01/01/2023
1           35          7  02/01/2023
2           28          2  03/01/2023
3           24          7  04/01/2023
4           32          4  05/01/2023
5           32          2  06/01/2023

In [69]:
df.temperature.dtype

dtype('int64')

In [70]:
type(df.temperature)

pandas.core.series.Series

In [71]:
# Operations on DataFrame

In [72]:
df['temperature'].max()

35

In [73]:
df['temperature'].mean()

30.5

In [74]:
df['temperature'].std()

3.8858718455450894

In [75]:
df.temperature.median()

32.0

In [76]:
df.temperature.min()

24

In [77]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [78]:
# Conditionally select from DatafRame

In [79]:
df[df.temperature >= 32]

          day  temperature  windspeed  event
0  01/01/2023           32          6   Rain
1  02/01/2023           35          7  Sunny
4  05/01/2023           32          4   Rain
5  06/01/2023           32          2  Sunny

In [80]:
df[df.temperature == df.temperature.max()]

          day  temperature  windspeed  event
1  02/01/2023           35          7  Sunny

In [81]:
df[df.temperature == df['temperature'].max()]

          day  temperature  windspeed  event
1  02/01/2023           35          7  Sunny

In [82]:
df['day'][df.temperature == df.temperature.max()]

1    02/01/2023
Name: day, dtype: object

In [83]:
df.day[df.temperature == df.temperature.max()]

1    02/01/2023
Name: day, dtype: object

In [84]:
df[['day', 'temperature']][df.temperature >= 32]

          day  temperature
0  01/01/2023           32
1  02/01/2023           35
4  05/01/2023           32
5  06/01/2023           32

In [85]:
# Look for more in the documentation : https://pandas.pydata.org/docs/reference/api/pandas.Series.html

In [86]:
# Set index

In [87]:
df

          day  temperature  windspeed  event
0  01/01/2023           32          6   Rain
1  02/01/2023           35          7  Sunny
2  03/01/2023           28          2   Snow
3  04/01/2023           24          7   Snow
4  05/01/2023           32          4   Rain
5  06/01/2023           32          2  Sunny

In [88]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [89]:
# This code will set the index, but will not be applied to the existing data frame. 
df.set_index('day')

            temperature  windspeed  event
day
01/01/2023           32          6   Rain
02/01/2023           35          7  Sunny
03/01/2023           28          2   Snow
04/01/2023           24          7   Snow
05/01/2023           32          4   Rain
06/01/2023           32          2  Sunny

In [90]:
# In order to apply set index to existing DF use inplace = True
df.set_index('day', inplace = True)
df

            temperature  windspeed  event
day
01/01/2023           32          6   Rain
02/01/2023           35          7  Sunny
03/01/2023           28          2   Snow
04/01/2023           24          7   Snow
05/01/2023           32          4   Rain
06/01/2023           32          2  Sunny

In [91]:
df.loc['04/01/2023']

temperature      24
windspeed         7
event          Snow
Name: 04/01/2023, dtype: object

In [92]:
# To reset the index to original index column
df.reset_index(inplace = True)
df

          day  temperature  windspeed  event
0  01/01/2023           32          6   Rain
1  02/01/2023           35          7  Sunny
2  03/01/2023           28          2   Snow
3  04/01/2023           24          7   Snow
4  05/01/2023           32          4   Rain
5  06/01/2023           32          2  Sunny

In [93]:
df.set_index('event', inplace = True)
df

              day  temperature  windspeed
event
Rain   01/01/2023           32          6
Sunny  02/01/2023           35          7
Snow   03/01/2023           28          2
Snow   04/01/2023           24          7
Rain   05/01/2023           32          4
Sunny  06/01/2023           32          2

In [96]:
df.loc['Snow']

              day  temperature  windspeed
event
Snow   03/01/2023           28          2
Snow   04/01/2023           24          7